h1 {
    color: white;
    background-color: #009f00;
    border: 5px solid #005E19;
    border-radius: 10px;
}

img {
    border-style: double;
    border-radius: 15px;
}

h3{
    background-color: #FFA600;
    border: 5px solid #855B0F;
    border-radius: 10px;
}

a{
    color: #0000d7;
}
